*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
}

main section:first-child{
    display: flex;
    justify-content: flex-end;
    padding: 0.5%;
}
main section:last-child{
    width: 90%;
    height: 80%;
    margin: 1% auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main section:last-child div{
    width: calc(95%/7);
}
footer{
    background-color: #222222;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer section{
    display: flex;
    padding: 0.6%;
}
footer section div{
    margin:0 10px;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
}
footer section div p{
    font-size: 12px;
}
footer section:last-child div{
    color: red;
    background-color: #4A4A4A;
    margin-top: -8px;
    margin-bottom: -8px;
    padding: 10px;
    display: flex;
    align-items: center;
}